
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atividades complementares</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
	.link-menu a {
	    color: #ffffff;
	}
	.link-menu a:hover, a:visited{
	    color: #d6d6d6;
	}
    </style>
</head>

<body>
    <div class="bg-success text-white pt-2 pb-2">
	<div class="container d-flex justify-content-between align-items-center">
	    <h1>Atividades complementares</h1>
	    <div class="link-menu">
	        <a href="/logout">logout</a>
	        <a href=""><img src="assets/images/usuario.jpg" alt="Nome do usuário" width="30" height="30" style="border-radius: 50%;"></a>
	    </div>
	</div>
    </div>
    <div class="container pt-3">
    {% block conteudo %} {% endblock %}
    </div>
</body>
</html>